.i_home{
    height: 100%;
    width: 100%;
    
    background-color: #1E1F24;
}

.i_header{
    height: 15%;
    width: 100%;
    display: flex;
}

.ih_left{
    display: flex;
    flex: 0.5;
    height: 100%;
    justify-content: flex-end;
    margin-top: 25px;

}

.ih_center{
    display: flex;
    flex: 1;

    margin-top: 30px;
    height: 100%;
}

.ih_right{
    display: flex;
    flex: 0.5;
    height: 100%;
    margin-top: 20px;

}

a:link, a:visited{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin-left: 60px;
}

.btn_log1{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.7);
    color: #FF50B8;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
}

.btn_log2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border:none;
    background-color: rgba(255,255,255,0.7);
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

.img_log3{
    height: 10px;
    width: 10px;
    margin-left: 5px;
    margin-top:18px;
}

.i_center{
    display: flex;
    justify-content: center;
}

.i_center1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1C1C1C;
    margin-left:60px;
    width: 78%;
    height: 76vh;
    border-radius: 30px;
    border:1px solid #464646;
}

.row1{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
}

.row2{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
}

.row3{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
}

.r11{
    display: flex;
    flex:4;
    justify-content: center;
    align-items: center;

}

.r12{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    font-family: 'OpenSans Semibold', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.r13{
    display: flex;
    flex:1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'OpenSans Semibold', sans-serif;
    font-size: 15px;
    background-color: #2F3032;
}

.r21{
    margin-top: 10px;
    display: flex;
    flex:1;
    justify-content: space-evenly;
}

.c1{
    display: flex;

    background-color: #212225;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.c1h{
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.c1s{
    display: flex;
    width: 0px;
    height: 80px;
    border-radius: 50%;
}

.r22{
    margin-bottom: 10px;
    display: flex;
    flex:1;
    justify-content: space-evenly;
}

.r31{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'OpenSans Semibold', sans-serif;
    font-size: 15px;
    background-color: #2F3032;
    border-bottom: 2px solid #CBCBCC;
}

.r32{
    display: flex;
    flex:5;
    justify-content: center;
    align-items: center;
}

.rs{
    display: flex;
    flex:1;
    height: 90%;
}

.rb{
    display: flex;
    flex: 2;
    height: 80%;
    margin-left: 20px;
    background-color: #212225;
    border-radius: 10px;
}


